@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Cerca Prenotazioni</h2>
        
        <div class="form-group">
            <label class="control-label">Inserisci Codice Fiscale</label>
            <input id="codiceFiscale" type="text" class="form-control" />          
        </div>
        
        <button id="cerca" class="btn btn-primary"> Cerca Prenotazione</button>
       

        <div id="prenotazioni"></div>
   
</div>


@section Scripts {


    <script>
        let fetchPrenotazioni = async () => {
            let codiceFiscale = document.getElementById('codiceFiscale').value;
            console.log(codiceFiscale);

            let url = '/Home/CercaPrenotazione?codiceFiscale=' + codiceFiscale;
            try {
                let response = await fetch(url);
                if (response.ok) {
                    let data = await response.json();
                    
                    console.log(data);
                } else {
                    throw new Error('Error: ' + response.status);
                }
            } catch (error) {
                console.log("Error: ", error);
            }
        }
        let fetchBtn = document.getElementById('cerca');
        fetchBtn.addEventListener('click', fetchPrenotazioni);
    </script>
}
